adrien/
converted/
graphs-avg/
models-eegLib-high/
models-filt-double-lstm/
modelsv2/
pickled-filt/
brians/
correlate/
graphs-psd/
models-eegLib-pure/
models-high-double-lstm/
participantPlots/
pickled-high/
confused-pics/
eegmodels/
graphs/
models-eegLib/
models/
pickled-avg/
pickled/
